span.a{
    border: 2px solid red;
    padding: 0.5%;
}
span.b{
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 2px solid black;
    padding: 0.5%;
}
span.c{
    width: 100px;
    height: 100px;
    padding: 0.5%;
    border: 2px solid teal;
    display: block;
}
ol{
    background-color: teal;
    text-align: center;
}
ol li{
    background-color: yellow;
    display: inline-block;
    border: 3px solid;
    padding: 3px;
    
}